<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>19/05/19 15:58:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Createlead.setdata()[pri:0, instance:week5.day2.Createlead@e92674]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2647928</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>19/05/19 15:58:56</td>   <td>1088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnAnnotations.Login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week5.day2.Createlead@e92674]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@2647928</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/05/19 15:59:03</td>   <td>8077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createlead.CreateLeadT(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week5.day2.Createlead@e92674]">CreateLeadT</td> 
  <td>main@2647928</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>19/05/19 15:59:16</td>   <td>21252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LearnAnnotations.close()[pri:0, instance:week5.day2.Createlead@e92674]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2647928</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>19/05/19 15:59:18</td>   <td>23376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnAnnotations.Login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week5.day2.Createlead@e92674]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@2647928</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>19/05/19 15:59:25</td>   <td>30022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createlead.CreateLeadT(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week5.day2.Createlead@e92674]">CreateLeadT</td> 
  <td>main@2647928</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>19/05/19 15:59:38</td>   <td>43436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LearnAnnotations.close()[pri:0, instance:week5.day2.Createlead@e92674]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2647928</td>   <td></td> </tr>
</table>
