<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>19/05/04 12:04:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnAnnotations.Login()[pri:0, instance:week5.day1.Createlead@fd02e5]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/04 12:04:24</td>   <td>9391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createlead.CreateLeadT()[pri:0, instance:week5.day1.Createlead@fd02e5]">CreateLeadT</td> 
  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>19/05/04 12:04:36</td>   <td>21130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LearnAnnotations.close()[pri:0, instance:week5.day1.Createlead@fd02e5]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>19/05/04 12:04:38</td>   <td>23307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnAnnotations.Login()[pri:0, instance:week5.day1.DeleteLead@1cab519]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/04 12:04:44</td>   <td>29215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DeleteLeadT()[pri:0, instance:week5.day1.DeleteLead@1cab519]">DeleteLeadT</td> 
  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>19/05/04 12:04:54</td>   <td>39821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LearnAnnotations.close()[pri:0, instance:week5.day1.DeleteLead@1cab519]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>19/05/04 12:04:57</td>   <td>41965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LearnAnnotations.Login()[pri:0, instance:week5.day1.DuplicateLead@45f292]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/05/04 12:05:04</td>   <td>49098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DuplicateLeadT()[pri:0, instance:week5.day1.DuplicateLead@45f292]">DuplicateLeadT</td> 
  <td>main@26323093</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>19/05/04 12:05:14</td>   <td>59581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LearnAnnotations.close()[pri:0, instance:week5.day1.DuplicateLead@45f292]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@26323093</td>   <td></td> </tr>
</table>
